footer img {
  width: 130px;
}

footer p {
  color: #b3aeb5;
  font-size: 16px;
}

footer {
  padding-top: 30px;
}
.message {
  padding: 15px 40px;
  background-color: #5dca88;
    cursor:pointer;
    box-shadow:0 7px #1a7940;
    float:center;
  }

.menu-icon {
  color: white;
  float:right;
  font-size: 35px;
  padding: 21px 0;
  display: none;
}




